  
<li>
     <div class="comment-meta"> 
				<span class="entry-meta">&nbsp;&nbsp;<%= time_ago_in_words(comment.created_at) %> ago</span>
		 </div><!--comment-meta-->
			 <p>
          <%= comment.body %>
       </p>
           
    <% if current_user %>
 
    <div class="respond">
       <%= form_for [comment, Comment.new], remote: true do |f| %>
         <%= f.text_field :body, placeholder: "Add a Reply" %>
         <%= f.submit "Reply", class: "submit-comment", data: { no_turbolink: true } %>
         <% end %>
    </div>

    <% end %>



  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>
